<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>542185568159-62k8mauuoaao1uge30pr68aq68d495o5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.542185568159-62k8mauuoaao1uge30pr68aq68d495o5</string>
	<key>API_KEY</key>
	<string>AIzaSyDmcUWTnXqnFT4gRcTa47KLD0JPibBhMnI</string>
	<key>GCM_SENDER_ID</key>
	<string>542185568159</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>none.MyFirebaseiOSLab</string>
	<key>PROJECT_ID</key>
	<string>miproyectoioslab</string>
	<key>STORAGE_BUCKET</key>
	<string>miproyectoioslab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:542185568159:ios:9716e02f5edba9ed</string>
	<key>DATABASE_URL</key>
	<string>https://miproyectoioslab.firebaseio.com</string>
</dict>
</plist>